@font-face {
    font-family: 'Lulo Clean', sans-serif;
    src: url("../../assets/fonts/Lulo\ Clean\ W01\ One\ Bold.ttf");
}

body {
    background-color: #1F2937;
    color: #f1f1f1;
    font-family: 'Lulo Clean', sans-serif;
}

img {
    user-select: none !important;
}

#logo {
    width: 500px;
}

#search-logo {
    display: flex;
    align-items: center;      /* vertically centers image + text */
    justify-content: center;  /* centers the whole row horizontally */
    gap: 10px;                /* adds space between logo and text */
    margin-top: 100px;
}

#search-logo h1 {
    font-size: 80px;
}

input {
    border: none;
    padding-left: 50px;
    width: 700px;
    height: 50px;
    outline: none;
    font-size: 18px;
    color: #fff;
    border-radius: 50px;
    background-color: #181f29;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0 1000px #181f29 inset !important;
  caret-color: #fff;
  font-size: 16px !important;      /* or whatever you use */
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

*::selection {
    background-color: #8107FB;
    color: #fff;
}

.input {
    background-color: #181f29;
    border-radius: 50px;
    max-height: 50px;
    width: 700px;
    margin-left: 250px;
    padding-left: 0;
}

.input img {
    width: 30px;
    margin-top: 8px;
    margin-left: 8px;
    position: absolute;
}

button {
    background-color: #181f29;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
}

button:hover, input:hover {
    background-color: #373f49;
}

input:focus {
    background-color: #373f49;
}