@font-face {
    font-family: 'Lulo Clean', sans-serif;
    src: url("../../assets/fonts/Lulo\ Clean\ W01\ One\ Bold.ttf");
}

body {
    background-color: #1F2937;
    color: #f1f1f1;
    font-family: 'Lulo Clean', sans-serif;
    font-weight: 900;
    max-width: 100vw !important;
    width: 100vw !important;
    overflow-x: hidden;
}

img {
    user-select: none !important;
}

#logo {
    width: 250px !important;
}

#search-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: fit-content;
}
#search-logo p {
    font-size: 34px;
}

input {
    border: none;
    padding-left: 50px;
    width: calc(89vw - 250px);
    height: 50px;
    outline: none;
    font-size: 18px;
    color: #fff;
    border-radius: 50px;
    background-color: #181f29;
    margin: 0;
}

.input {
    background-color: #181f29;
    border-radius: 50px;
    max-height: 50px;
    max-width: calc(100vw - 144px);
    margin-left: 30px;
    padding-left: 0;
}

.input img {
    width: 30px;
    margin-top: 8px;
    margin-left: 8px;
    position: absolute;
}

button {
    background-color: #181f29;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
}

button:hover, input:hover {
    background-color: #373f49;
}

input:focus {
    background-color: #373f49;
}

#search-logo img {
    width: 70px;
}

#main {
    top: 0;
    display: flex;
    align-items: center;
    margin: 0;
}

.results {
    display: flex;
    flex-direction: column;
}

.results a {
    text-decoration: none;
    color: color-mix(in srgb, #6E00FF 70%, #BD1EEE 30%);
}